{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "MegaHack4",
    "description": "",
    "contact": {}
  },
  "host": "megahack5.brunoeleodoro.com",
  "basePath": "/api",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tabela_precos": {
      "get": {
        "description": "",
        "summary": "Listar Tabela de precos",
        "tags": [
          "tabela_precos"
        ],
        "operationId": "ListarTabeladeprecos",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/auth/eletrodomesticos": {
      "get": {
        "description": "",
        "summary": "Get Eletrodomesticos",
        "tags": [
          "user"
        ],
        "operationId": "GetEletrodomesticos",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "",
        "summary": "Atualizar Eletrodomesticos",
        "tags": [
          "user"
        ],
        "operationId": "AtualizarEletrodomesticos",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AtualizarEletrodomesticosRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/auth/leituras": {
      "get": {
        "description": "",
        "summary": "Get Leituras",
        "tags": [
          "user"
        ],
        "operationId": "GetLeituras",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "",
        "summary": "Atualizar Leituras",
        "tags": [
          "user"
        ],
        "operationId": "AtualizarLeituras",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AtualizarLeiturasRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/auth/historico": {
      "get": {
        "description": "",
        "summary": "Get Historico",
        "tags": [
          "user"
        ],
        "operationId": "GetHistorico",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "",
        "summary": "Atualizar Historico",
        "tags": [
          "user"
        ],
        "operationId": "AtualizarHistorico",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AtualizarHistoricoRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "description": "",
        "summary": "Register",
        "tags": [
          "user"
        ],
        "operationId": "Register",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "",
        "summary": "Login",
        "tags": [
          "user"
        ],
        "operationId": "Login",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/dicas/inserir": {
      "post": {
        "description": "",
        "summary": "Inserir Dica",
        "tags": [
          "dicas"
        ],
        "operationId": "InserirDica",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/InserirDicaRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/dicas/5fb114c09cab9a00126ea8fd": {
      "put": {
        "description": "",
        "summary": "atualizar Dica",
        "tags": [
          "dicas"
        ],
        "operationId": "atualizarDica",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/atualizarDicaRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "",
        "summary": "remover Dica",
        "tags": [
          "dicas"
        ],
        "operationId": "removerDica",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    },
    "/dicas/": {
      "get": {
        "description": "",
        "summary": "Listar Dicas",
        "tags": [
          "dicas"
        ],
        "operationId": "ListarDicas",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "AtualizarEletrodomesticosRequest": {
      "title": "AtualizarEletrodomesticosRequest",
      "example": {
        "eletrodomesticos": [
          {
            "title": "Plasma 42",
            "horas": "5",
            "quantidade": "1"
          }
        ]
      },
      "type": "object",
      "properties": {
        "eletrodomesticos": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "eletrodomesticos"
      ]
    },
    "AtualizarLeiturasRequest": {
      "title": "AtualizarLeiturasRequest",
      "example": {
        "leituras": [
          {
            "title": "Plasma 42",
            "horas": "5",
            "quantidade": "1"
          }
        ]
      },
      "type": "object",
      "properties": {
        "leituras": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "leituras"
      ]
    },
    "AtualizarHistoricoRequest": {
      "title": "AtualizarHistoricoRequest",
      "example": {
        "historico": [
          {
            "title": "Plasma 42",
            "horas": "5",
            "quantidade": "1"
          }
        ]
      },
      "type": "object",
      "properties": {
        "historico": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "required": [
        "historico"
      ]
    },
    "RegisterRequest": {
      "title": "RegisterRequest",
      "example": {
        "firstName": "Bruno",
        "lastName": "Roza",
        "email": "bruno@gmail.com",
        "password": "123456"
      },
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "required": [
        "firstName",
        "lastName",
        "email",
        "password"
      ]
    },
    "LoginRequest": {
      "title": "LoginRequest",
      "example": {
        "email": "bruno@gmail.com",
        "password": "123456"
      },
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "required": [
        "email",
        "password"
      ]
    },
    "InserirDicaRequest": {
      "title": "InserirDicaRequest",
      "example": {
        "title": "nova dica",
        "description": "chuveiro",
        "image": "https://www.sonataengenharia.com.br/wp-content/uploads/2019/02/Disjuntor-de-chuveiro-desarmando.jpg"
      },
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        }
      },
      "required": [
        "title",
        "description",
        "image"
      ]
    },
    "atualizarDicaRequest": {
      "title": "atualizarDicaRequest",
      "example": {
        "title": "nova didsaca",
        "description": "chuveiro",
        "image": "https://www.sonataengenharia.com.br/wp-content/uploads/2019/02/Disjuntor-de-chuveiro-desarmando.jpg"
      },
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        }
      },
      "required": [
        "title",
        "description",
        "image"
      ]
    }
  },
  "tags": [
    {
      "name": "tabela_precos",
      "description": ""
    },
    {
      "name": "user",
      "description": ""
    },
    {
      "name": "dicas",
      "description": ""
    }
  ]
}