{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "MegaHack4 API",
    "description": "Economize Energia!",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "megahack5.brunoeleodoro.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/dicas": {
      "post": {
        "description": "Create new dica n system",
        "parameters": [
          {
            "title": "Titulo da dica",
            "in": "body",
            "description": "Criar uma dica",
            "schema": {
              "$ref": "#/definitions/Dica"
            }
          }
        ],
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "summary": "Get all dicas in system",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dicas"
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "ID of user that we want to find",
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user with given ID",
        "responses": {
          "200": {
            "description": "User is found",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete user with given ID",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User is deleted",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      },
      "put": {
        "summary": "Update user with give ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "User with new values of properties",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User is updated",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "required": [
        "email",
        "_id"
      ],
      "properties": {
        "_id": {
          "type": "string",
          "uniqueItems": true
        },
        "email": {
          "type": "string",
          "uniqueItems": true
        },
        "lastName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        }
      }
    },
    "Users": {
      "type": "array",
      "$ref": "#/definitions/User"
    },
    "Dica": {
      "required": [
        "title",
        "description"
      ],
      "properties": {
        "_id": {
          "type":"string",
          "uniqueItems": true
        },
        "title": {
          "type":"string"
        },
        "description": {
          "type":"string"
        },
        "image": {
          "type":"string"
        }
      }
    },
    "Dicas": {
      "type": "array",
      "$ref": "#/definitions/Dica"
    }
  }
}
